header{
  background-color: DarkBlue;
  padding: 30px;
}

ul {
  width: 80%;
  margin: auto;
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  font-size: 35px;
  margin: 0px 40px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: grey;
  font: 33px arial, sans-serif;
  border-style: solid;
  border-width: thick;
  box-sizing: border-box;
  padding: 5px;
}

a:hover{
  border-style: inset;
}

body{
  background-color: white;
}

footer{
  background-color: lightblue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

p{
  color: black;
  font: 22px arial, sans-serif;

}

h1{
  color: black;
  text-align: center;
  margin:0;
  font: 50px arial, sans-serif;
  background-color: white;
  margin-bottom: 77px;
  margin-top: 77px;
  border:20px;
}

a.footer{
  text-decoration: underline;
  color: black;
  font: 20px arial, sans-serif;
  box-sizing: border-box;
  border-style: none;
}

table, th, td {
  border: 2px solid DarkBlue;
  border-collapse: collapse;
  color: black;
  font: 40px arial, sans-serif;
}

table{
  align: center;
  margin-left: 70px;
  table-layout: fixed ;
  width: 90% ;
}

td{
  width: 12.5% ;
  text-align: center;
}

h3{
  color: black;
  font: 35px arial, sans-serif;
}
