<!DOCTYPE html>
<html>
  <head>
    <title>Reading logs</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <h1>Reading Logs</h1>
    <header>
      {% block header %}{% endblock %}
      <nav>
        <ul>
          <li><a href="/loggedin.html">Home</a></li>
          <li><a href="/login.html">Log out</a></li>
          <li><a href="/book.html">Add a Book</a></li>
          <li><a href="/read.html">Record read book</a></li>
        </ul>
      </nav>
    </header>
  <div>
      {% block content %}{% endblock %}
  </div>

  <footer>

  </footer>

</html>
