{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Add Book</h1>
<form action="" method="post" name="book" style="text-align:center">
    {{ form.hidden_tag() }}
    <p>
       {{ form.title.label }}<br>
       {{ form.title }}<br>
    </p>
    <p>
      {{ form.date.label }}<br>
      {{ form.date }}<br>
    </p>
    <p>
      {{ form.author.label }}<br>
      {{ form.author }}<br>
    </p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}
