{% extends "base.html" %}

{% block content %}
<h1>List of Books You've Read</h1>
<h2>User ID = {{ id }}<br></h2>
<li>
  <a href="/passchange.html">Change Password</a>
</li>
<table style="width:90%;margin-top: 40px">
  <tr>
    <td>Book ID</td>
    <td>Title</td>
    <td>Date of publishing</td>
    <td>author</td>
  </tr>
  {% for item in data %}
  <tr>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.dateofpublishing}}</td>
    <td>{{item.author}}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
