
<!DOCTYPE html>
<html>
  <head>
    <title>Reading logs</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <h1>Reading Logs</h1>
    <header>
      {% block header %}{% endblock %}
      <nav>
        <ul>
          <li><a href="/login.html">Log out</a></li>
          <li><a href="/register.html">Register</a></li>
        </ul>
      </nav>
    </header>
  <div>
    {% block content %}

    <h1>Log in</h1>
    <form action="" method="post" name="login" style="text-align:center">
        {{ form.hidden_tag() }}
        <p>
           {{ form.username.label }}<br>
           {{ form.username }}<br>
        </p>
        <p>
          {{ form.password.label }}<br>
          {{ form.password }}<br>
        </p>
        <p>{{ form.submit }}</p>
    </form>

    {% endblock %}
  </div>

  <footer>

  </footer>

</html>
