{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Change password</h1>
<form action="" method="post" name="passchange" style="text-align:center">
    {{ form.hidden_tag() }}
    <p>
      {{ form.old.label }}<br>
      {{ form.old }}<br>
    </p>
    <p>
      {{ form.new.label }}<br>
      {{ form.new }}<br>
    </p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}
