{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="read" style="text-align:center">
    {{ form.hidden_tag() }}
    <p>
       {{ form.book.label }}<br>
       {{ form.book }}<br>
    </p>
    <p>
       {{ form.date.label }}<br>
       {{ form.date }}<br>
    </p>
    <p>{{ form.submit }}</p>
</form>

{% endblock %}
