{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Register</h1>
<form action="" method="post" name="register" style="text-align:center">
    {{ form.hidden_tag() }}
    <p>
       {{ form.username.label }}<br>
       {{ form.username }}<br>
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password }}<br>
    </p>
    <p>
      {{ form.date.label }}<br>
      {{ form.date }}<br>
    </p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}
